@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #131313;
  --secondary-background: #303030;
  --transparent: rgba(0, 0, 0, 0.5);
  --primary-color: #f6f5f5;
}
body {
  background-color: var(--primary-background);
  color: var(--primary-color);
  font-family: "Montserrat";
}